$primary: #4e9fd7;
$link: #28549c;
$info: #28549c;
$success: #61d095;
$warning: #ffee93;
$danger: #db2b39;
$dark: #363636;
$black: #0a0a0a;
$white: #ffffff;
$color-white: $white;
$color-black: $black;
$color-grey: #dddddd;
